@charset UTF-8;
/* CSS STYLING */

body
{
	background-color: #000000;
}

header
{
	margin: auto;
	width: 80%;
	text-align: center;
}

h1
{
	color: white;
	font-size: 10vw;
	font-weight: 500;
}

h2
{
	color: white;
	font-size: 5vw;
	font-weight: 500;
}